@font-face {
    font-family: 'Harry Potter';
    src: url(../fonts/HarryPotter-ov4z.ttf);
}

@font-face {
    font-family: 'Wizard World Simplified';
    src: url(../fonts/WizardWorldSimplified-Kxr7.ttf);
}

@font-face {
    font-family: 'Sofia Pro';
    src: url(../fonts/Sofia\ Pro\ Regular\ Az.otf);
}

:root {
    --font-harry: 'Harry Potter', sans-serif;
    --font-Wizard: 'wizard World Simplified', sans-serif;
    --font-sofia: 'Sofia Pro', sans-serif;
    --bg-color: #301934;
    --blue-color: #00001B;
    --light-blue-color: #0B163B;
    --yellow: #EEBA30;
    --dark-yellow: #946A2D;
    --red: #A6332E;
    --dark-red: #420503;
    --green: #366447;
    --dark-green: #234723;
}

body {
    height: 100vh;
    background-image: url(../images/wallpaperflare.com_wallpaper\ \(1\).jpg); 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: var(--font-sofia);
    cursor: url(../images/cursor.png), auto;
    overflow-x: hidden;
}

body h1, h2, h3, p, a, li, figcaption {
    color: #fff;
    font-weight: 400;
}

.header {
    background-color: var(--blue-color);
    background-image: url(../images/stars.png), url(../images/horizons_bridge.png);
    background-size: cover, cover;
    background-repeat: no-repeat;
    background-position: center, bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__container {
    background-image: url(../images/logo-harry-potter-gold.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: top;
}

.header__title {
    font-family: var(--font-Wizard);
    font-size: 3rem;
    padding-top: 80px;
}

.header__subtitle {
    font-family: var(--font-Wizard);
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.header__menu {
    display: flex;
    justify-content: center;
    padding: 20px 0 30px 0;
    gap: 40px;
}

.menu__item a, .intro__banner a, button{
    background: linear-gradient(90deg, rgba(0,0,27,1) 0%, rgba(11,22,59,1) 100%);
    border: 1px solid gray;
    border-radius: 20px;
    padding: 2px 10px;
    text-decoration: none;
    transition: .3s;
    color: #fff;
}

.menu__item a:hover, .intro__banner a:hover{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
    box-shadow: 0 5px 15px rgba(218, 218, 218, 0.5);
    padding: 4px 14px;
    color: var(--blue-color);
    cursor: pointer;
}

.section--intro{
    background-image: url(../images/HarryPotter_PM_B5C27M1_HarryTeachingDumbledoresArmyPatronusSpell_Moment.jpg);
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-position: center;
    box-shadow: inset 0px -50px 30px 0px #0F0F11, inset 0px 50px 30px 0px #0F0F11;
}

.intro__banner {
    background-color: var(--blue-color);
    text-align: center;
    padding: 40px;
    margin:100px 40px;
    border-radius: 60px;
    transition: .5s;
    border: 1px solid gray;
}

.intro__banner:hover {
    transform: translateY(-7px);
    box-shadow: 0 5px 15px #fff;
}

.intro__banner h2, p {
    font-family: var(--font-Wizard);
    margin-bottom: 5px;
}

.intro__banner h2 {
    font-size: 2rem;
}

.intro__banner p {
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}

.intro__button {
    margin: 0 15px;
}

.section--about {
    height: 800px;
    background-image: url(../images/horizons_burrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    box-shadow: inset 0px 50px 30px 0px #0f0f11;
    background-color:rgba(0,0,27,0.7);
}

.section__content {
    padding: 100px 40px;
}

.section--about .section__content h2, .section__content>p {
    background: linear-gradient(90deg, rgba(0,0,27,1) 0%, rgba(11,22,59,1) 100%);
    width: 600px;
    padding: 0 60px;
    border: 1px solid gray;
}

.section--about .section__content h2 {
    border-bottom: none;
}

.section--about .section__content p {
    border-top: none;
}

.section--about .section__content h2 {
    font-family: var(--font-Wizard);
    font-size: 2rem;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    border-radius: 60px 60px 0 0;
}

.section--about .section__content h2::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 250px;
    height: 250px;
    background-image: url(../images/cartas.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 140px;
    top: 880px;
}

.section--about .section__content>p {
    text-align: center;
    padding-bottom: 40px;
    font-family: var(--font-sofia);
    border-radius: 0 0 60px 60px;
}

.section--about .about__grid {
    width: 600px;
    background: linear-gradient(90deg, rgba(11,22,59,1) 0%, rgba(0,0,27,1) 100%);
    padding: 40px;
    margin-top: 40px;
    margin-left: 1150px;
    border: 1px solid gray;
    border-radius: 60px;
    transition: .5s;
}

.section--about .about__grid::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 366px;
    height: 366px;
    background-image: url(../images/trio.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -268px;
    border-bottom-left-radius: 40px;
}

.section--about .about__item {
    border-bottom: 1px solid gray;
}

.section--about .about__item:last-child {
    border-bottom: none
}

.section--about .about__item h3 {
    font-family: var(--font-Wizard);
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
}

.section--about .about__item p {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

.section--gallery::before{
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url(../images/pomo.cur);
    background-size: contain;
    height: 100px;
    width: 200px;
    margin-top: -22em;
    margin-left: 64em;
}

.section--gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    padding: 3vh;
    background-color: var(--yellow);
    background-image: url(../images/stars.png), url(../images/horizons_hogwarts.png);
    background-repeat: no-repeat;
    background-size: contain, contain;
    background-position: center, bottom;
    height: 500px;
    box-shadow: inset 0px 50px 30px 0px #15111C;
}

.section--gallery h2 {
    display: flex;
    justify-content: center;
    font-family: var(--font-Wizard);
    font-size: 2em;
}

.section--gallery .btn-more {
    background: linear-gradient(90deg, rgba(0,0,27,1) 0%, rgba(11,22,59,1) 100%);
    border: 1px solid gray;
    border-radius: 20px;
    padding: 8px 10px;
    text-decoration: none;
    transition: .3s;
    color: #fff;
}

.gallery__grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.gallery__item {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.gallery__item figcaption{
    display: flex;
    justify-content: center;
    font-family: var(--font-Wizard);
    font-size: 1em;
}

.gallery__item img{
    border-radius: 10px;
}

.section--gallery button:hover{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
    box-shadow: 0 5px 15px rgba(218, 218, 218, 0.5);
    color: var(--blue-color);
    scale: 1.05;
    cursor: pointer;
}

.section--services{
    position: relative;
    height: 900px;
    background-color:rgba(0,0,27,0.7);
    background-image: url(../images/horizons_quidditch.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    box-shadow: inset 0px 50px 30px 0px #18150D;
}

.section--services h2{
    display: flex;
    justify-content: center;
    font-family: var(--font-Wizard);
    font-size: 2rem;
    margin-bottom: 20px;
}

.services__list::before{
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url(../images/pngwing.com\ \(12\).png);
    background-size: cover;
    width: 600px;
    height: 600px;
    top: 300px;
    margin-left: 120px;
    z-index: -1;
}

.services__list{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 550px;
    gap: 1vh;  
}

.services__list::after{
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url(../images/pngwing.com\ \(13\).png);
    background-size: cover;
    width: 600px;
    height: 600px;
    margin-left: 1230px;
    top: 300px;
    z-index: -1;
}

.service__item{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 70vh;
    padding: 1vh;
    gap: 1vh;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(0,0,27,1) 0%, rgba(11,22,59,1) 100%);
    transition: .3s;
    border: 1px solid gray;
}

.section--services .service__item:hover {
    transform: translateY(-7px);
    box-shadow: 0 5px 15px #fff;
}

.service__item h3{
    font-family: var(--font-Wizard);
    font-size: 1.5rem;
}

.service__item p {
    font-family: var(--font-sofia);
}

.section--news {
    height: 1100px;
    background-color: var(--dark-red);
    background-image: url(../images/stars.png), url(../images/horizons_village.png), url(../images/newspaper-background-harrypotter.png);
    background-repeat: repeat-y, no-repeat, repeat;
    background-position: center, bottom, center;
    background-size: contain, contain, auto;
    box-shadow: inset 0px 50px 30px 0px #0E0812;
    padding: 80px 200px 20px 200px;
    display: flex;
    flex-direction: column;
}

.section--news .section__title {
    font-family: var(--font-Wizard);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
}

.section--news .news__item {
    margin-bottom: 30px;
}

.section--news .news__item:nth-child(even) {
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
}

.section--news .news__item:nth-child(even) img {
    border: 1px solid gray;
    border-left: none;
    border-radius: 0 10px 10px 0;
}

.section--news .news__item:nth-child(even) .news__content {
    border: 1px solid gray;
    border-right: none;
    border-radius: 10px 0 0 10px;
}

.section--news .news__item:nth-child(odd) {
    display: flex;
    justify-content: start;
}

.section--news .news__item img {
    border: 1px solid gray;
    border-right: none;
    border-radius: 10px 0 0 10px;
}

.section--news .news__item .news__content {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-color);
    padding: 25px;
    border: 1px solid gray;
    border-left: none;
    border-radius: 0 10px 10px 0;
}

.section--news .news__item .news__content h3 {
    font-family: var(--font-Wizard);
    font-size: 1.5rem;
}

.section--news .news__item .news__content p {
    font-family: var(--font-sofia);
    text-align: center;
}

.section--news .news__item .news__content .news__date, .news__summary {
    margin-bottom: 20px;
}

.section--news .news__item .news__content button {
    padding: 8px 20px;
}

.section--news .news__item .news__content button:hover {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
    box-shadow: 0 5px 15px rgba(218, 218, 218, 0.5);
    color: var(--blue-color);
    scale: 1.05;
    cursor: pointer;
}

.section--contact {
    background-color: var(--blue-color);
    background-image: url(../images/stars.png), url(../images/horizons_bridge.png);
    background-repeat: no-repeat;
    background-position: center, bottom;
    background-size: cover, contain;
    box-shadow: inset 0px 50px 30px 0px #120B0E;
}

.section--contact .section__title {
    font-family: var(--font-Wizard);
    font-size: 2rem;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 40px;
}

.section--contact .contact__form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.section--contact .contact__form label {
    font-family: var(--font-Wizard);
    font-size: 1.2rem;
    color: #fff;
}

.section--contact .contact__form input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 4px;
}

.section--contact .contact__form textarea {
    height: 16px;
    width: 150px;
    resize: none;
    padding: 4px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
}

.section--contact .contact__form button {
    font-weight: 800;
    padding: 8px 40px;
    text-transform: uppercase;
}

.section--contact .contact__form button:hover {
    transform: translateY(-7px);
    box-shadow: 0 5px 15px #fff;
    cursor: pointer;
}

.footer {
    height: 60px;
    background-color: var(--dark-green);
    background-image: url(../images/stars.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 50px 30px 0px #0F0F11;
    padding: 60px 0 30px 0;
}

.footer__content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer__content p {
    font-size: 1.1rem;
}

.footer__content p::before {
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url(../images/snake.png);
    background-size: cover;
    width: 110px;
    height: 75px;
    left: 290px;
}

.footer__content .footer__social {
    display: flex;
    gap: 50px;
}

.footer__content .footer__social a {
    text-decoration: none;
}

.footer__content .footer__social a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* NOTEBOOK */
@media (min-width: 1024px) and (max-width: 1440px) {
    .section--intro {
        background-position: right;
    }
    
    .intro__banner {
        margin: 60px 40px;
    }
    
    .section--about{
        height: 760px;
    }
    
    .section--about .about__grid {
        margin-left: 610px;
    }
    
    .section--about .about__grid::before {
        margin-left: -270px;
    }
    
    .section--gallery::before {
        margin-left: 740px;
    }
    
    .section--services {
        height: 800px;
    }
    
    .services__list::before {
        width: 450px;
        height: 450px;
        margin-left: 80px;
        top: 350px;
    }
    
    .services__list::after {
        width: 450px;
        height: 450px;
        top: 350px;
        margin-left: 880px;
    }
    
    .section--news {
        height: 1020px;
        padding: 60px;
    }
    
    .footer__content p::before {
        left: 120px;
    }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
    .section--about .section__content h2, .section__content>p {
        width: 400px;
    }

    .section--about .about__grid {
        width: 450px;
        margin-left: 220px;
    }

    .section--about .section__content h2::after {
        margin-left: 60px;
    }

    .section--about .about__grid::before {
        width: 300px;
        height: 300px;
        margin-left: -250px;
        top: 1265px;
    }

    .section--gallery {
        height: 780px;
    }

    .section--gallery::before {
        margin-top: -700px;
        margin-left: 500px;
    }

    .section--gallery button {
        margin-bottom: 30px;
    }

    .section--news {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .section--news .news__item {
        width: 800px;
        height: 200px;
    }

    .section--news .news__item:nth-child(even) {
        justify-content: center;
    }

    .section--news .news__item:nth-child(odd) {
        justify-content: center;
    }

    .section--contact .contact__form {
        display: flex;
        flex-direction: column;
    }

    .section--contact .contact__form input, .section--contact .contact__form textarea {
        padding-right: 200px;
    }

    .section--contact .contact__form button {
        padding: 12px 100px;
        margin-bottom: -30px;
    }   

    .footer__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__content p::before {
        display: none;
    }
}

/* MOBILE */
@media (max-width: 450px) {
    .header__container {
        background-size: 150px;
    }

    .header__title {
        font-size: 1.5rem;
        text-align: center;
        padding-top: 60px;
    }

    
    .header__subtitle {
        font-size: .6rem;
        text-align: center;
        padding-bottom: 10px;
    }

    .header__menu {
        flex-wrap: wrap;
        gap: 35px;
    }

    .menu__item a, .intro__banner a, button {
        padding: 6px 16px;
    }

    .menu__item a:hover, .intro__banner a:hover {
        padding: 8px 20px;
    }

    .section--intro {
        background-position: right;
        background-size: auto;
    }

    .intro__banner {
        margin: 50px 40px;
    }

    .intro__button {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .section--about {
        height: 900px;
    }

    .section--about .section__content h2, .section__content>p {
        width: 50vw;
    }

    .section--about .section__content h2::after {
        width: 150px;
        height: 150px;
        margin-left: 0px;
        top: 900px;
    }

    .section--about .about__grid {
        width: 62vw;
        padding: 40px;
        margin-top: 40px;
        margin-left: 0;
    }

    .section--about .about__grid::before {
        display: none;
    }

    .section--gallery {
        height: 1300px;
        background-repeat: repeat-y, no-repeat;
        background-size: cover, contain;
        background-position: top, bottom;
    }

    .section--gallery::before {
        display: none;
    }

    .section--gallery .btn-more {
        margin-bottom: 20px;
    }

    .section--services {
        height: 950px;
    }

    .section--services h2 {
        margin-top: -30px;
    }

    .section--services .service__item {
        width: 90vw;
    }

    .services__list::before, .services__list::after {
        display: none;
    }

    .section--news {
        height: 2100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .section--news .section__title {
        font-size: 2rem;
        text-align: center;
        position: absolute;
        top: 4080px;
    }

    .section--news .news__grid {
        display: flex;
        flex-direction: column;
        gap: 250px;
    }

    .section--news .news__item {
        width: 380px;
        height: 200px;
    }

    .section--news .news__item .news__content {
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }

    .section--news .news__item .news__content h3 {
        font-size: 1rem;
    }
    
    .section--news .news__item .news__content p {
        font-size: .75rem;
    }

    .section--news .news__item img {
        width: 90vw;
    }

    .section--news .news__item:nth-child(even) {
        justify-content: center;
        flex-direction: column;
    }

    .section--news .news__item:nth-child(even) img {
        border-bottom: none;
        border-radius: 10px 10px 0 0;
    }
    
    .section--news .news__item:nth-child(even) .news__content {
        border-top: none;
        border-radius: 0 0 10px 10px;
    }

    .section--news .news__item:nth-child(odd) {
        justify-content: center;
        flex-direction: column;
    }

    .section--news .news__item:nth-child(odd) img {
        border-bottom: none;
        border-radius: 10px 10px 0 0;
    }

    .section--news .news__item:nth-child(odd) .news__content {
        border-top: none;
        border-radius: 0 0 10px 10px;
    }

    .section--news .news__item img {
        border-right: none;
        border-radius: 10px 10px 0 0;
    }

    .section--contact .contact__form {
        display: flex;
        flex-direction: column;
    }

    .section--contact .contact__form input, .section--contact .contact__form textarea {
        padding-right: 200px;
    }

    .section--contact .contact__form button {
        padding: 12px 100px;
        margin-bottom: -30px;
    }

    .footer__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__content p {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer__content p::before {
        display: none;
    }
}