@font-face {
    font-family: 'Harry Potter';
    src: url(../fonts/HarryPotter-ov4z.ttf);
}

@font-face {
    font-family: 'Wizard World Simplified';
    src: url(../fonts/WizardWorldSimplified-Kxr7.ttf);
}

@font-face {
    font-family: 'Sofia Pro';
    src: url(../fonts/Sofia\ Pro\ Regular\ Az.otf);
}

:root {
    --font-harry: 'Harry Potter', sans-serif;
    --font-Wizard: 'wizard World Simplified', sans-serif;
    --font-sofia: 'Sofia Pro', sans-serif;
    --bg-color: #301934;
    --blue-color: #00001B;
    --light-blue-color: #0B163B;
}

body {
    height: 100vh;
    /*background-color: var(--bg-color);*/
    background-image: url(../images/wallpaperflare.com_wallpaper\ \(1\).jpg); 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: var(--font-sofia);
    cursor: url(../images/oth263.png);
}

/* body:hover{
    cursor: url(../images/oth263.cur), progress !important;
} */

body h1, h2, h3, p, a, li, figcaption {
    color: #fff;
    font-weight: 400;
}

.header {
    background-color: var(--blue-color);
    background-image: url(../images/stars.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0px -40px 30px 0px rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__container {
    background-image: url(../images/logo-harry-potter-gold.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: top;
}

.header__title {
    font-family: var(--font-Wizard);
    font-size: 3rem;
    padding-top: 80px;
}

.header__subtitle {
    font-family: var(--font-Wizard);
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.header__menu {
    display: flex;
    justify-content: center;
    padding: 20px 0 30px 0;
    gap: 40px;
}

.menu__item a, .intro__banner a, button{
    background: linear-gradient(90deg, rgba(0,0,27,1) 0%, rgba(11,22,59,1) 100%);
    border: 1px solid gray;
    border-radius: 20px;
    padding: 2px 10px;
    text-decoration: none;
    transition: .3s;
    color: #fff;
}

.menu__item a:hover, .intro__banner a:hover{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
    box-shadow: 0 5px 15px rgba(218, 218, 218, 0.5);
    padding: 4px 14px;
    color: var(--blue-color);
    cursor: pointer;
}

.section--intro{
    background-image: url(../images/HarryPotter_PM_B5C27M1_HarryTeachingDumbledoresArmyPatronusSpell_Moment.jpg);
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-position: center;
    box-shadow: inset 0px -50px 30px 0px rgba(0,0,0,1), inset 0px 50px 30px 0px rgba(0,0,0,0.9);
}

.intro__banner {
    background-color: var(--blue-color);
    text-align: center;
    padding: 40px;
    margin:100px 40px;
    border-radius: 60px;
    transition: .5s;
    border: 1px solid gray;
}

.intro__banner:hover {
    transform: translateY(-7px);
    box-shadow: 0 5px 15px #fff;
}

.intro__banner h2, p {
    font-family: var(--font-Wizard);
    margin-bottom: 5px;
}

.intro__banner h2 {
    font-size: 2rem;
}

.intro__banner p {
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}

.intro__button {
    margin: 0 15px;
}

.section--about {
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px -50px 30px 0px rgba(0,0,0,1), inset 0px 50px 30px 0px rgba(0,0,0,1);
    background-color:rgba(0,0,27,0.7);
}

.section__content {
    padding: 100px 40px;
}

.section--about .section__content h2, .section__content>p {
    background: linear-gradient(90deg, rgba(0,0,27,1) 0%, rgba(11,22,59,1) 100%);
    width: 600px;
    padding: 0 60px;
}

.section--about .section__content h2 {
    font-family: var(--font-Wizard);
    font-size: 2rem;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    border-radius: 60px 60px 0 0;
}

.section--about .section__content h2::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 250px;
    height: 250px;
    background-image: url(../images/cartas.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 140px;
    top: 880px;
}

.section--about .section__content>p {
    text-align: center;
    padding-bottom: 40px;
    font-family: var(--font-sofia);
    border-radius: 0 0 60px 60px;
}

.section--about .about__grid {
    width: 600px;
    background: linear-gradient(90deg, rgba(11,22,59,1) 0%, rgba(0,0,27,1) 100%);
    padding: 40px;
    margin-top: 40px;
    margin-left: 1150px;
    border-radius: 60px;
    transition: .5s;
}

.section--about .about__grid:hover, .service__item:hover {
    transform: translateY(-7px);
    box-shadow: 0 5px 15px #fff;
}

.section--about .about__grid::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 366px;
    height: 366px;
    background-image: url(../images/trio.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -268px;
    border-bottom-left-radius: 40px;
}

.section--about .about__item {
    border-bottom: 1px solid gray;
}

.section--about .about__item:last-child {
    border-bottom: none
}

.section--about .about__item h3 {
    font-family: var(--font-Wizard);
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
}

.section--about .about__item p {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

.section--gallery::before{
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url(../images/pomo.cur);
    background-size: contain;
    height: 100px;
    width: 200px;
    margin-top: -22em;
    margin-left: 64em;
}

.section--gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    padding: 3vh;
    /* background: linear-gradient(90deg, rgba(0,0,27,1) 0%, rgba(11,22,59,1) 100%); */
    background-color: var(--blue-color);
    background-image: url(../images/stars.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 500px;
    box-shadow:inset 0px -50px 30px 0px rgba(0,0,0,1), inset 0px 50px 30px 0px rgba(0,0,0,1);
}

.section--gallery h2 {
    display: flex;
    justify-content: center;
    font-family: var(--font-Wizard);
    font-size: 2em;
}

.section--gallery .btn-more {
    background: linear-gradient(90deg, rgba(0,0,27,1) 0%, rgba(11,22,59,1) 100%);
    border: 1px solid gray;
    border-radius: 20px;
    padding: 8px 10px;
    text-decoration: none;
    transition: .3s;
    color: #fff;
}

.gallery__grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.gallery__item {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.gallery__item figcaption{
    display: flex;
    justify-content: center;
    font-family: var(--font-Wizard);
    font-size: 1em;
}

.gallery__item img{
    border-radius: 10px;
}

.section--gallery button:hover{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
    box-shadow: 0 5px 15px rgba(218, 218, 218, 0.5);
    color: var(--blue-color);
    scale: 1.05;
    cursor: pointer;
}

.section--services{
    height: 900px;
    background-color:rgba(0,0,27,0.7);
    box-shadow:  inset 0px -50px 30px 0px rgba(0,0,0,1), inset 0px 50px 30px 0px rgba(0,0,0,01);
}

.section--services h2{
    display: flex;
    justify-content: center;
    font-family: var(--font-Wizard);
    font-size: 2rem;
    margin-bottom: 20px;
}

.services__list::before{
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url(../images/pngwing.com\ \(12\).png);
    background-size: cover;
    width: 600px;
    height: 600px;
    top: 2488px;
}

.services__list{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 550px;
    gap: 1vh;  
}

.services__list::after{
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url(../images/pngwing.com\ \(13\).png);
    background-size: cover;
    width: 600px;
    height: 600px;
    margin-left: 1270px;
    top: 2488px;
}

.service__item{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 70vh;
    padding: 1vh;
    gap: 1vh;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(0,0,27,1) 0%, rgba(11,22,59,1) 100%);
    transition: .3s;
    border: 1px solid gray;
}

.service__item h3{
    font-family: var(--font-Wizard);
    font-size: 1.5rem;
}

.service__item p {
    font-family: var(--font-sofia);
}

.section--news {
    height: 100%;
    background-color:rgba(0,0,27,0.7);
    box-shadow:  inset 0px -50px 30px 0px rgba(0,0,0,1), inset 0px 50px 30px 0px rgba(0,0,0,01);
    padding: 80px 200px 20px 200px;
    display: flex;
    flex-direction: column;
}

.section--news .section__title {
    font-family: var(--font-Wizard);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
}

.section--news .news__item {

    margin-bottom: 30px;
}

.section--news .news__item:nth-child(even) {
    display: flex;
    justify-content: end;

}

.section--news .news__item:nth-child(odd) {
    display: flex;
    justify-content: start;
}

.section--news .news__item img {
    border: 1px solid gray;
    border-right: none;
    border-radius: 10px 0 0 10px;
}

.section--news .news__item .news__content {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-color);
    padding: 25px;
    border: 1px solid gray;
    border-left: none;
    border-radius: 0 10px 10px 0;
}

.section--news .news__item .news__content h3 {
    font-family: var(--font-Wizard);
    font-size: 1.5rem;
}

.section--news .news__item .news__content p {
    font-family: var(--font-sofia);
    text-align: center;
}

.section--news .news__item .news__content .news__date, .news__summary {
    margin-bottom: 20px;
}

.section--news .news__item .news__content button {
    padding: 8px 20px;
}

.section--news .news__item .news__content button:hover {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
    box-shadow: 0 5px 15px rgba(218, 218, 218, 0.5);
    color: var(--blue-color);
    scale: 1.05;
    cursor: pointer;
}